@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Sue+Ellen+Francisco&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Sue Ellen Francisco', cursive;
    color: #444444;
}

header {
    height: 705px;  
    background-image: url(../images/leaves-header.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    font-size: 8rem;
    letter-spacing: 8px;
    text-shadow: 5px 5px 5px #f8be51;
}

h2 {
    font-size: 4rem;
}

h1, h2 {
    font-family: 'Chelsea Market', cursive;
}

#logo {
    text-align: center;
    padding-top: 256px;
}

#menu {
    text-align: center;
}

#menu > li {
    display: inline;
    font-size: 4rem;
    margin: 0 64px 0 64px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    text-shadow: 5px 5px 5px #f8be51;
}

.z-indexed {
    position: relative;
    z-index: 2;
    font-size: 4rem;    
}

#intro-section {
    position: relative;
    height: 512px;
    text-align: center;
}

#intro {
    position: absolute;
    top: 128px;
    width: 100%;
}

footer {
    position: sticky;
    bottom: 0;
    height: 248px;
    background-image: url(../images/beans-footer.png);
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 1;
}
